.container{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10vw;
    background-color: azure;
    .profile{
        display: block;
        width: 20vw;  
        background-color: #9e9e9e;
        ul{
            padding: 20px 0;
            background-color: #9e9e9e;  
            li{
            background-color: #9e9e9e;  

                padding:0 40px;
                font-size: 1em;
                color: azure;
                // font-weight: 600;
            }
            .active{
                background-color: azure;
                color: #9e9e9e;
            }
            list-style: none;
        }
        ol{
            li{
                background-color: #9e9e9e;
                padding:20px 40px;
                font-size: 1.5em;
                color: azure;
                font-weight: 600    ;
            }
            .active{
                background-color: azure;
                color: #505050;
            }
            list-style: none;
        }
    }
}

